body {
  font-family: sans-serif;
}

#assignment-instructions {
  color: #dc3d24;
  font-family: sans-serif;
}

li {
  font-family: inherit;
}

.second code {
  color: green;
}

code {
  font-family: monospace;
  color: red;
}

li + li {
  background-color: black;
  color: white;
}

ol li {
  background-color: black;
  color: white;
}
